/* User Profile */

.offcanvas.offcanvas-start {
	width: 320px;
	border-width: 0;
	transition: transform .3s ease-in-out;
	
	.offcanvas-header h5 {
		font-family: 'Orbitron';
	}
	
	.offcanvas-body {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 0 1rem;
		
		.section {
			width: 100%;
			padding: 1rem;
		}
		
		.info-head {
			display: flex;
			flex-direction: column;
			align-items: center;
			/* background-color: rgba(0, 188, 212, .6); */
			padding-top: 3rem;
			padding-bottom: 3rem;
			background-color: hsla(from var(--brand-red-bg) h s 46% / .75);
			
			>.material-symbols-outlined {
				font-size: 4rem;
				color: var(--brand-secondary-red-bg);
			}
			
			p {
				margin: 0;
				color: rgba(255, 255, 255, .87);
				font-size: 1.1rem;
				font-family: 'Poiret One';
				font-weight: 400;
				
				&.name {
					font-family: 'Orbitron';
					font-size: 1.2rem;
					font-weight: 500;
					color: rgba(0, 0, 0, .87);
				}
			}
		}
		
		.info-body {
			padding-top: 2rem;
			
			p {
				display: flex;
				justify-content: space-between;
			}
			
			.user-area {
				span {
					width: 30%;
					background-color: var(--brand-orange-bg);
					color: #212121;
					font-size: .85rem;
					font-weight: 400;
					padding: .3rem .65rem ;
					line-height: 1.2;
					border-radius: 1rem;
					border: 3px solid var(--brand-red-bg);
					margin: .125rem 0;
				}
			}
		}
		
		a.btn-signout {
			position: absolute;
			bottom: 1rem;
			left: 50%;
			transform: translateX(-50%);
			background-color: hsl(8, 100%, 56%);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 2rem;
			color: #fff;
			margin: auto;
			
			&:hover {
				background-color: hsl(8, 100%, 60%);
			}
		}
	}
	
}
