/* New Release Style */
body main.app {
	overflow-y: hidden !important;
}

form {
	margin-block-start: 0;
}

#searchPanel {
	fieldset.product-list {
		.row:first-of-type {
			margin-block-start: 0;
		}
	}
}

.page-nav {
	.field-filter-dark {
		input {
			color: #fce4ec;
		}
		i {
			color: #ff80ab;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

	
/* Data */
.page {
	/* 工廠 */
	.statistics-factory {
		--table-bg: #fffbff;
		
		position: relatvie;
		width: auto;
		max-height: calc(100vh - 220px);
		overflow: auto;
		/* scrollbar-width: thin; */
		scrollbar-color: #666 var(--table-bg); /*thumb - track*/
		margin: 0;
		background-color: var(--surface);
		
		table {
			table-layout: fixed;
			min-width: 100%;
			width: auto;
			overflow: unset;
			padding: 0;
			margin: 0;
			border-radius: 4px;
			
			thead {
				tr {
					th {
						position: sticky;
						top: 0;
						z-index: 5;
						word-break: keep-all;
						min-width: 100px;
						max-width: 100px;
						color: rgba(0, 0, 0, .87);
						padding-top: 1rem;
						background-color: var(--surface);
						
						&:nth-child(1) {
							width: 100px;
							position: sticky;
							left: 0;
							z-index: 6;
						}
					}
				}
			}
			
			tbody {
				tr {
					th {
						position: sticky;
						font-weight: bold;
						word-break: keep-all;
						z-index: 5;
						background-color: var(--surface);
						
						&:nth-child(1) {
							left: 0;
						}
					}
					
					td {
						color: #424242;
						/* 總計 
						&:nth-last-child(-n + 2) {
							color: #f44336;
						}*/
					}
				}
			}
		}
	}
	
	
	
	/* 門市 */
	.statistics-store {
		table {
			thead tr th {
				&:nth-of-type(1) {
					width: 100px;
					min-width: 100px;
					max-width: 100px;
					left: 0;
				}
				&:nth-of-type(2) {
					width: 100px;
					min-width: 100px;
					max-width: 100px;
					left: 0;
				}
				&:nth-of-type(3) {
					width: 150px;
					min-width: 150px;
					max-width: 150px;
					left: 0;
				}
				&:nth-of-type(4) {
					width: 200px;
					min-width: 200px;
					max-width: 200px;
					position: sticky;
					left: 0;
					z-index: 6;
				}
			}
			
			tbody tr {
				td {
					&:nth-of-type(1) {
						left: 0;
						background-color: var(--table-fixed-bg);
						color: var(--table-fixed-color);
					}
					&:nth-of-type(2) {
						left: 0;
						background-color: var(--table-fixed-bg);
						color: var(--table-fixed-color);
					}
					&:nth-of-type(3) {
						left: 0;
						background-color: var(--table-fixed-bg);
						color: var(--table-fixed-color);
					}
					&:nth-of-type(4) {
						position: sticky;
						z-index: 5;
						left: 0;
						background-color: var(--table-fixed-bg);
						color: var(--table-fixed-color);
					}
				}
			}
			
		}
	}

}


/* 門市訂貨狀況 */
.status-list {
	.statistics-store {
		table {
			thead tr th {
				&:nth-of-type(1) {
					width: 100px;
					min-width: 100px;
					max-width: 100px;
					left: 0;
				}
				&:nth-of-type(2) {
					width: 150px;
					min-width: 150px;
					max-width: 150px;
					left: 0;
				}
				&:nth-of-type(3) {
					width: 200px;
					min-width: 200px;
					max-width: 200px;
					position: sticky;
					left: 0;
					z-index: 6;
				}
			}
			
			tbody tr {
				td {
					&:nth-of-type(1) {
						left: 0;
						background-color: var(--table-fixed-bg);
						color: var(--table-fixed-color);
					}
					&:nth-of-type(2) {
						left: 0;
						background-color: var(--table-fixed-bg);
						color: var(--table-fixed-color);
					}
					&:nth-of-type(3) {
						position: sticky;
						z-index: 5;
						left: 0;
						background-color: var(--table-fixed-bg);
						color: var(--table-fixed-color);
					}
				}
			}
			
		}
	}
}