/* App Common Style */
/* 不與Login共用 */
:root, html, body {
	/* font-size: 16px; */
  
	/* 須寫在這才有作用 */
	legend {
		font-size: .75rem;
	}
}

body {
	--scrollbar-width: calc(100vw - 100%);
	
	font-family: 'Roboto', 'Orbitron', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	overflow-y: hidden !important;
	overflow-x: hidden;
	
	.loading-bar {
		position: absolute;
		width: 100%;
		
		progress {
			position: absolute;
			top: 0;
			left: 0;
			/* left: -304px; */
			z-index: 999;
			width: 100vw;
		}
	}
	
	main.app {
		max-width: 100vw;
		height: 100vh;
		padding: 0;
		margin: 0;
		overflow-y: auto !important;
		overflow-x: hidden;
		
		/* Default style */
		.page-nav {
			--search-bg: var(--inverse-surface);
			position: sticky;
			top: 0;
			z-index: 50;
			width: 100%;
			height: 64px;
			padding-left: 1rem;
			padding-right: 1rem;
			background-color: var(--search-bg);
			border-bottom: 1px solid rgba(0 0 0 / .20);
			transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1), 
			box-shadow 0.4s ease;
		}
			
		section.container {
			margin: 0;
			padding: 0;
			padding: 0 1rem 1rem;
			
			.field {
				/* margin-block-start: 1.25rem !important; */
			}
			&>.field, &>label {
				margin-block-start: 1.5rem;
			}
			/* 
			.row {
				margin-block-start: 1.5rem !important;
			} */
		}
		
		form {
			padding: 0;
			margin: 0;
			margin-block-start: 0 !important;
		}
		
		.error-container.list-msg {
			margin: 0 1rem;
		}
		/* #searchPanel {
			.field.round, nav {
				margin-top: 1.5rem;
			}
		} */
	}
	/* .field>:is(i,img,svg,progress.circle,a) */
	#profileEdit {
		.dialog-body .field > i:has(.checkbox) {
			pointer-events: auto;
		}
		/*layout直接用button會有問題*/
		.dialog-body .field > i.btn-icon {
			pointer-events: auto;
		}
	}
		
	main.signin, main.forget-password {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		
		.divider {
			width: 0;
			height: 25%;
			border-left: 1px solid #ddd;
			margin-left: 2rem;
			margin-right: 2rem;
		}
		
		/* Logo */
		.content-left {
			width: 320px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			img {
				position: relative;
				width: 100%;
				height: auto;
			}
			
			.copyright {
				font-family: 'Orbitron';
				font-size: .75rem;
				font-weight: bold;
				
				i {
					font-family: 'Roboto';
					font-style: normal;
					font-size: .875rem;
					color: #f44336;
				}
			}
		}
		
		.content-right {
			width: 400px;
			padding: 4rem 2rem;
			
			.header {
				padding: 0;
				margin-block-end: 1rem;
				
				img {
					width: 32px;
					height: auto;
				}
				.title {
					font-family: 'Orbitron';
					font-size: 1.4rem;
				}
				h6 {
					font-family: 'Orbitron';
					color: var(--on-surface-variant); 
					font-weight: normal;
					font-size: .875rem;
				}
			}
			
			.field .domain {
				position: absolute;
				top: 50%;
				right: .5rem;
				color: var(--on-surface-variant);
				opacity: .6;
				transform: translateY(-50%);
			}
			
			.field.captcha {
				position: absolute;
				top: 0;
				left: 0;
				display: none;
			}
			
			nav.group {
				margin-block-start: 2rem !important;
			}
		}
		
		/* OIDC button */
		.btn-oidc {
			position: absolute;
			right: -3rem;
			bottom: -3rem;
		}
	}
	
	main.forget-password {
		.content-right .header .title {
			color: #4caf50;
		}
		.field > i.btn-icon {
			pointer-events: auto;
			border-radius: 1rem;
			
			button {
				background-color: transparent;
				color: #000;
				
				&:hover {
					background-color: #4caf50;
					color: #fafafa;
				}
			}
		}
	}
}